.sidebar {
  width: 80px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f8f9fa;
  transition: width 0.3s;
  overflow: hidden;
  z-index: 1000;
}
.sidebar .nav-link {
  color: #333;
  padding: 15px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.sidebar .nav-link i {
  font-size: 1.5rem;
  margin-right: 15px;
}
.sidebar .nav-link span {
  display: none;
}
.sidebar .logo {
  padding: 15px;
  display: flex;
  align-items: center;
}
.sidebar .logo img {
  width: 40px;
  margin-right: 15px;
}
.sidebar .logo span {
  display: none;
}
.offcanvas .nav-link {
  color: #333;
  padding: 15px;
  display: flex;
  align-items: center;
}
.offcanvas .nav-link i {
  font-size: 1.5rem;
  margin-right: 15px;
}
.offcanvas .logo {
  padding: 15px;
  display: flex;
  align-items: center;
}
.offcanvas .logo img {
  width: 40px;
  margin-right: 15px;
}
.content {
  margin-left: 80px;
  padding: 20px;
  background-color: #fff;
}
@media (max-width: 786px) {
  .sidebar {
    display: none;
  }
  .content {
    /* margin-left: 0; */
    /* padding-left: 0; */
  }
  .mobile-toggle {
    display: block;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1001;
  }
}
@media (min-width: 577px) {
  .mobile-toggle {
    display: none;
  }
}
.transaction-container {
  max-width: 600px;
  width: 100%;
}
.dialpad {
  width: 100%;
}
.dial-btn {
  aspect-ratio: 1 / 1; /* Membuat tombol persegi */
  font-size: calc(2vw + 1rem); /* Responsif terhadap ukuran browser */
  border-radius: 10px; /* Sedikit rounded */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: calc(10vw + 40px); /* Responsif, minimum 40px */
}
.action-btn {
  width: 48%;
  font-size: calc(1.5vw + 0.9rem);
  border-radius: 10px;
}
